@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.left{
    height: 100vh;
    background-color: black;
}
.getheight{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.getheight ul{
    margin-top: 120px;
}
ul li{
    list-style: none;
    padding: 30px;
    /* background-color: azure; */
    font-size: 22px;
    padding-left: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li a{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;
}
.icon{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
    position: relative;
     
}
.social i:hover{
    background: linear-gradient(90deg, rgba(175,38,118,1) 90%, rgba(68,27,69,1) 100%);
    color: #fff;
    
}
/* input[type=search] {
    width: 57%;
    padding: 20px;
    height: 20px;
    margin-left: 30px;
    box-sizing: border-box;
    background-color:#a0447c;
    border: none;
  } */
.rights{
    background: linear-gradient(90deg, rgba(146,46,107,1) 0%, rgba(138,34,101,1) 48%, rgba(68,27,69,1) 100%);
}
.he{
    color: #fff;
    font-weight: bolder;
    margin-left: 20px;
    padding-top: 110px;
    font-size: 40px;
}
.e{
    color: #fff;
    margin-left: 20px;
    padding-top: 20px;
    font-size: 20px;
}
.fn{
    color: #fff;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: -20px;
}
.name{
    border: none;
    outline: none;
    height: 40px;
    width: 250px;
    margin-left: 20px;
    background-color:#a0447c;
    /* border-bottom: 1px solid #ccc;  */
}
::placeholder {
    color: white;
    opacity: 1;
  }
.emi{
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: -20px;
    margin-left: -140px;
}
.email{
    background-color:#a0447c;
    border: none;
    outline: none;
    height: 40px;
    margin-left: -140px;
    width: 250px;
}
.subj{
    color: #fff;
    text-transform: uppercase;
    padding-top: 30px;
    margin-left: 20px;
}
.Sub{
    background-color:#a0447c;
    border: none;
    outline: none;
    height: 40px;
    /* margin-left: 20px;
    margin-top: -40px; */
    width: 50px;
    margin-left: 30px;
}
.ym{
    color: #fff;
    text-transform: uppercase;
    padding-top: 20px;
    margin-left: 20px;
}
/* .msg{
    
    background-color:#a0447c;
    border: none;
    outline: none;
    height: 40px;
    margin-left: 30px;
    margin-top: -40px;
    width: 40px;
} */
input[type=text] {
    width: 57%;
    padding: 12px 20px;

    /* margin-left: 30px; */
    box-sizing: border-box;
    background-color:#a0447c;
    border: none;
  }
 